# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js
/.next/
/out/

# Environment variables (NUNCA comitar!)
.env
.env.local
.env.*.local

# Debug
npm-debug.log*

# Vercel
.vercel

# OS
.DS_Store
Thumbs.db
